<nz-layout class="app-layout">
  <!-- Header -->
  <nz-header>
    <div class="app-header">
      <div class="logo">
        <span nz-icon nzType="book" nzTheme="outline"></span>
        <span class="logo-text">{{ title }}</span>
      </div>
      <div class="header-menu">
        <div class="user-info">
          <span class="username">苏子毅</span>
          <!-- <nz-dropdown [nzTrigger]="'click'">
            <nz-avatar nzText="苏" nz-dropdown [nzSize]="32"></nz-avatar>
            <ul nz-menu>
              <li nz-menu-item>
                <span nz-icon nzType="user"></span>
                个人信息
              </li>
              <li nz-menu-item>
                <span nz-icon nzType="setting"></span>
                设置
              </li>
              <li nz-menu-divider></li>
              <li nz-menu-item>
                <span nz-icon nzType="logout"></span>
                退出登录
              </li>
            </ul>
          </nz-dropdown> -->
        </div>
      </div>
    </div>
  </nz-header>

  <!-- Layout -->
  <nz-layout>
    <!-- Sidebar -->
    <nz-sider 
      class="menu-sidebar"
      nzCollapsible
      nzWidth="200px"
      nzBreakpoint="md"
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null">
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-menu-item 
            *ngFor="let item of menuItems" 
            [nzSelected]="item.selected"
            [routerLink]="[item.link]"
            (click)="selectMenu(item)">
          <span nz-icon [nzType]="item.icon"></span>
          <span>{{ item.title }}</span>
        </li>
      </ul>
    </nz-sider>

    <!-- Content -->
    <nz-layout class="site-layout">
      <nz-content class="main-content">
        <router-outlet></router-outlet>
      </nz-content>
      
      <!-- Footer -->
      <nz-footer>
        <div class="footer-content">
          Angular作业管理系统 ©2024 Created by 苏子毅
        </div>
      </nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>